.formContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.durationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.timeInputContainer {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 5px;
}

.timeInput {
  width: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.timeSeparator {
  margin: 0 5px;
}

.checkboxContainer {
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 5px;
}

.countryContainer {
  margin-bottom: 10px;
}

.selectedCountries {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
}

.selectedCountry {
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.deleteButton {
  margin-left: 5px;
  padding: 2px 5px;
  background-color: #ff4d4d;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.errorMessage {
  color: red;
  margin-top: 5px;
}

.backButton {
  margin-bottom: 10px;
  background-color: #4d4dff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.createButton {
  margin-bottom: 10px;
  background-color: #4d4dff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}